<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label>Tap Watch Heading, then tap Stop Watch Heading and check the console. Note that the app is still getting compass heading</ion-label>

  <ion-button expand="full" color="primary" (click)="watchHeading()">Watch Heading</ion-button>
  <ion-button expand="full" color="secondary" (click)="stopWatchHeading()">Stop Watching Heading</ion-button>

</ion-content>
